body, ul {
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    max-width: 100%;
  }  
nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

#profile-pic {
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
header {
  background-color: black;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 2rem;
  margin: 0 4rem;
}
.navbar .navbar-nav a:hover {
  color: white;
  font-weight: bold;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}
.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
  margin-left: 20px;
}
.navbar .navbar-extra a:hover {
  color: black;
}
#hamburger-menu {
  display: none;
}
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(1, 1, 1, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}
/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}

#menu {
  color:white;   
  text-decoration:none;
  padding :10px;  
  font-size: 24px;
}
.home-content {
    text-indent: 70px;
    padding-top: 70px;
}
.contact-me-btn {
    display: inline-block;
    padding: 20px 70px;
    margin: 70px 70px;
    background-color: gray; /* Warna biru */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .contact-me-btn:hover {
    background-color: white;
    color: black; /* Warna biru yang lebih gelap saat di-hover */
  }
main {
    font-family: Arial, sans-serif;

}
main p{
  max-width: 60%;
}
.about{ 
  margin: 30px;
}
.profile {
    display: flex;
    align-items: center;
    padding: 20px;
}
.profile img {
    border-radius: 50%;
    margin-right: 50px;
}
.profile p {
    font-size: 30px;
    color: #000;
}

.skill {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}
.skill p{
  margin-left: 10px;
  font-size: 30px;
  font-style: italic;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.skill-card {
  width: 200px;
  background-color: white;
  margin-bottom: 20px;
  padding: 1px;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1%;
  text-align: left;
}
.skill-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.skill-card img {
  width: 80px;
  margin-right: 10px;
}
.skill-card p {
  font-size: 20px;
  color: #000;
}
.slide-button {
  text-align: right;
  margin-right: 70px;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.portfolio {
  font-family: Arial, sans-serif;
  color: black;
  border: #000;
  margin-left: 10px;
  font-size: 30px;
  font-style: italic;
}
.portfolio {
  max-width: 800px;
  margin: 0 auto;
  padding: 2px;
  max-width: 100%;
}
.kotak-1, .kotak-2, .kotak-0 {
  background-color: white;
  max-width: 400px;
  min-height: 410px;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.kotak-0{
  margin-top: -170px;
  margin-left: 350px;
  min-height: 350px;
}
.kotak-0 p{
  margin-left: 50px;
  padding-top: 30px;
  margin-bottom: 20px;
  align-items: left;
  margin-right: 20px;
  font-size: 20px;
}
.kotak-1 h2, .kotak-2 h2{
  font-size: 24px;
  color: #000;
  margin-left: 5px;
  padding: 15px;
  max-width: 300px;
}

.kotak-1 p, .kotak-2 p{
  font-size: 12px;
  color: #000;
  margin-left: 20px;
  max-width: 200px;
  background-color: white;
}
.kotak-1{
  margin-bottom: -50px;
  margin-left: 300px;
}
.progress-container {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  margin-top: 1%;
  align-items: center;
  margin-left: 10px;
}
.progress-container img{
  margin-left: 10px;
  display: flex;

}
.progress-bar-0 {
  height: 10px;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
}
.kotak-0-progress-bar-1 {
  height: 10px;
  width: 41%;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
}
.kotak-0-progress-bar-2 {
  height: 10px;
  width: 30%;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
}
.kotak-0-progress-bar-3 {
  height: 10px;
  width: 29%;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
}
.kotak-1-progress-bar-1 {
  height: 10px;
  width: 76%;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
  
}
.kotak-1-progress-bar-2 {
  height: 10px;
  width: 24%;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
}
.kotak-2-progress-bar-1 {
  height: 10px;
  width: 67%;
  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
  
}
.kotak-2-progress-bar-2 {
  height: 10px;
  width: 33%;

  background-color: green;
  border-radius: 2px;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  text-align: right;
}
.why-me {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}
.why-me p{
  margin-left: 10px;
  font-size: 30px;
  font-style: italic;
}
.why-me h6{
  margin-left: 30px;
  font-size: 30px;
  font-style: italic;
}
.why-me- {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}
.why-me-card {
  width: 200px;
  background-color: white;
  margin-bottom: 20px;
  padding: 1px;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 16px;
  text-align: left;
}
.why-me-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.why-me-card img {
  width: 80px;
  margin-right: 10px;
}
.why-me-card p {
  font-size: 20px;
  color: #000;
}
.slide-button {
  text-align: right;
  margin-right: 70px;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

footer {
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  text-align: left;
}
.container h1{
  margin-left: 200px;
}
form{
  margin-left: 200px;
  max-width: 300px;
  margin-bottom: -130px;
}
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: none;
  color: white;
}
.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}
.social-icons {
  margin-top: 20px;
  font-size: 15px;
  text-align: right;
}
.social-icons a {
  color: white;
  margin-right: 38px;
  text-align: right;
}
.copyright, .email{
  margin-top: 20px;
  font-size: 15px;
  margin-left: 870px;
}

.menu-tambahan{
  margin-top: 20px;
  text-align: left;
  margin-left: 900px;
  font-size: 15px;
}
.menu-tambahan a{
  color: white;
  margin-right: 10px;
}
